@import url(../css/reset.css);

@font-face {
    font-family: PoorStory-Regular;
    src: url(../fonts/PoorStory-Regular.ttf);
}

@font-face {
    font-family: Catamaran-Regular;
    src: url(../fonts/Catamaran-Regular.ttf);
}

@font-face {
    font-family: Catamaran-Bold;
    src: url(../fonts/Catamaran-Bold.ttf);
}

@font-face {
    font-family: Catamaran-Thin;
    src: url(../fonts/Catamaran-Thin.ttf);
}

:root {
    /* color pallet */
    --clr-primary-strong: #022840;
    --clr-primary-light: #D9D5D2;
    --clr-primary: #023059;
    --clr-secondary: white;
}

* {
    box-sizing: border-box;
}

html {
    font-family: Catamaran-Regular, sans-serif;
    color: var(--clr-primary-strong);
}


/* Cmps */
header {
    font-family: PoorStory-Regular;
    height: 130px;
    background-color: var(--clr-primary);
    display: flex;
}

header h1 {
    font-size: 4rem;
    font-weight: 900;
    color: var(--clr-secondary);
}

header img {
    width: 60PX;
    padding-inline: 10px;
    transition: 1s;
    filter: invert(1);
}

header img:hover {
    transform: rotate(360deg);
    cursor: pointer;
    width: 12vh;
    margin-inline-end: 50px;
}

header div {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

header label {
    background-color: white;
    border-radius: 2em;
    border: 0.2px solid var(--clr-primary-strong);
    display: flex;
    height: 32px;
}

header label input,  header label button{
    background-color: transparent;
    border: 0;
}

header label button:hover {
    cursor: pointer;
    background-color: #D9D5D2;
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

header label input:hover {
    cursor: pointer;
}

header label input:focus {
    outline: 0;
}

header div:first-child {
    display: flex;
    justify-content: space-between;
}
/* Layouts */

main {
    height: calc(100vh - 290px);
}

.main-layout > *:not(.full) {
    margin-right: auto;
    margin-left: auto;
    width: 980px;
}

article {
    display: grid;
    height: 100%;
    width: 100%;
    text-align: center;
}

ul {
    margin-block: 100px;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    gap: 10px;
}

li {
    padding: 10px;
    background-color: var(--clr-secondary);
    border-top-right-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    border: 0.2px solid var(--clr-primary-strong);
}

li:hover {
    cursor: pointer;
}

article img {
    width: 100%;
    padding-inline: 20px;
    padding-block-end: 20px;
    transition: 0.2s;
    overflow: hidden;
}

article:hover img {
    transform: scale(1.02);
    object-fit: cover;
}

article p {
    align-self: end;
}

article h3, .book-details h3 {
    font-family: Catamaran-Bold;
    padding-block: 5px;
    text-transform: capitalize;
    text-align: center;
}


/* Book-details */
.book-details {
    display: flex;
    gap: 30px;
    align-items: center;
    height: calc(100vh - 390px);
}

.book-details .details {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 416px;
}

.details section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book-details .details strong {
    font-family: Catamaran-Bold;
    padding-block: 5px;
    text-transform: capitalize;
}

.actions-container {
    margin-block: 10px;
    height: 30px;
    background-color: var(--clr-secondary);
    border-radius: 2em;
    border: 0.2px solid var(--clr-primary-strong);
    width: max-content;
    display: flex;
}

.actions-container button {
    border: 0;
    background-color: transparent;
}

.actions-container button:hover {
    cursor: pointer;
}

.actions-container button:hover:last-child {
    background-color: var(--clr-primary-light);
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.actions-container button:hover:first {
    background-color: var(--clr-primary-light);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.actions-container button:hover:first-child {
    background-color: var(--clr-primary-light);
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.actions-container button:not(:last-child, :first-child) {
    border-inline: 0.5px solid var(--clr-primary-strong)
}

.actions-container button:not(:last-child, :first-child):hover {
    background-color: var(--clr-primary-light);
}

.on-sale-icon {
    position: absolute;
    width: 50px;
}


/* Footer */
footer {
    height: 260px;
    background-color: var(--clr-primary);
}

footer p {
    color: var(--clr-secondary);
    padding: 30px;
}

/* Home Page View */
.home-page img{
    height: calc(100vh - 390px);
}

/* About View */
.about-page {
    display: flex;
}
.about-page img{
    position: absolute;
    z-index: -1;
    height: calc(100vh - 290px);
}




.red {
    background-color: red;
}

.green {
    background-color: green;
}